.menu-title {
  text-decoration: none;
  margin: 20px auto;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  width: 250px;
}

.menu-title a {
  text-decoration: none;
  font-size: 30px;
  font-weight: 600;
/*  font-family: 'Quicksand', sans-serif;  */
  font-family: 'Bitter', serif;
  letter-spacing: 0.0333333em;
  color: #fff;
}

.menu-title a:hover {
  color: #ccc;
}

.menu-link {
  margin: 20px auto;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  width: 100px;
}

.menu-link a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
}

.menu-link a:hover {
  color: #ccc;
}

.menu {
  margin: auto auto;
  display: block;
  width: 850px;
}

.menu-container {
  margin: 0;
  width: 100%;
  background: #0d1d52;
}

.home {
  width: 700px;
  margin: 0 auto;
  text-align: center;
  color: rgba(0,0,0,.8);
}

.home h1 {
/*  font-family: 'Quicksand', sans-serif;*/
  font-family: 'Bitter', serif;
  font-size: 60px;
  font-weight: 700;
}

.home h2 {
  font-family: 'Source Sans Pro', sans-serif;  
  font-size: 24px;
  font-weight: 700;
}

.home h3 {
  font-family: 'Source Sans Pro', sans-serif;  
  font-size: 24px;
  font-weight: 400;
}

.content {
  width: 700px;
  margin: 0 auto;
  color: rgba(0,0,0,.8);
}

.content h1 {
  font-size: 38px;
  font-weight: 700;
  letter-spacing: -.015em;
/*  font-family: 'Quicksand', sans-serif; */
  font-family: 'Bitter', serif; 
  text-align: center;
}

.content h2 {
  font-family: 'Source Sans Pro', sans-serif;  
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -.015em;
  text-align: center;
}

.content p {
  font-family: 'Source Sans Pro', sans-serif;  
  font-size: 21px;
  line-height: 1.58;
  font-weight: 400;
  letter-spacing: -.003em;
}

.content a {
  text-decoration: none;
  color: #0d1d52;
  font-weight: 600;
}

.theWedding p {
  text-align: center;
}

.youtube {
  margin: 0 auto;
  width: 560px;
  height: 315px;
}

.map {
  width: 700px;
  height: 400px;
  border: 0;
}

.our-story-images {
  display: inline-block;
  margin-bottom: 70px;
}

.our-story-images img {
  width: 200px;
  padding: 0px 16.66px;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.our-story-image-single img {
  width: 600px;
  margin: 0px 50px;
  /*height: 200px;
  object-fit: cover;
  object-position: center;*/
}

.rsvp {
  width: 700px;
  height: 500px;
  border: 0px;
}

input[type="submit"] {
  display: block;
  margin: 20px auto 50px;
  height: 50px;
  width: 125px;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 0.5px;
  background: #0d1d52;
  border: 0px solid;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
input[type="submit"]:hover {
  opacity: 0.8;
  cursor: pointer;
}

/* RSVP Styling */

.block-form-input {
  display: inline-block;
  margin-left: 25px;
  margin-right: 25px;;
}

.text-input-wrapper {
  width: 300px;
  height: 60px;
  overflow: hidden;
  position: relative;
}

.text-input-wrapper label {
  position: absolute;
  top: 20px;
  color: rgba(0, 0, 0, 0.5);
  font: 400 20px Roboto;
  cursor: text;
  transition: .25s ease;
}

.text-input-wrapper input {
  display: block;
  width: 100%;
  padding-top: 20px;
  border: none;
  border-radius: 0;
  color: #333;
  background: #FFFFFF;
  font-size: 20px;
  transition: .3s ease;
}

.text-input-wrapper input:focus {
  outline: none;
}
.text-input-wrapper input:focus ~ label {
  top: 0;
  font: 700 12px Roboto;
  color: #0D1D52;
}
.text-input-wrapper .text-input-valid {
  top: 0;
  font: 700 12px Roboto;
  color: rgba(0, 0, 0, 0.5);
}
.text-input-wrapper input:focus ~ .bar:before {
  transform: translateX(0);
}
.text-input-wrapper input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #FFFFFF inset;
  -webkit-text-fill-color: black !important;
}

.text-input-wrapper .bar {
  background: rgba(0, 0, 0, 0.5);
  content: '';
  width: 300px;
  height: 2px;
  transition: .3s ease;
  position: relative;
}
.text-input-wrapper .bar:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 150%;
  background: #0D1D52;
  transform: translateX(-100%);
}

.text-input-wrapper ::selection {
  background: rgba(13, 29, 82, 0.3);
}

.radio-label {
  display: inline-block;
  width: 250px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  color: #292929;
  background: #efefef;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.radio-label:hover {
  background: #d6d6d6;
  color: #101010;
}
#yes:checked + .radio-label {
  background: #0D1D52;
  color: #fff;
}
#yes:checked + .radio-label:hover {
  background: #0D1D32;
  color: #fff;
}
#no:checked + .radio-label {
  background: #F08080;
  color: #fff;
}
#no:checked + .radio-label:hover {
  background: #D08080;
  color: #fff;
}

.yes-no-wrapper {
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 18px;
}

.hidden {
  display: none;
}

.music-input {
  overflow-y: hidden;
	max-height: 60px;
  box-sizing: border-box;

	transition-property: all;
	transition-duration: 0.5s;
	transition-timing-function: ease;
}
.music-input.hide {
  max-height: 0;            
}

.hotel-block {
  display: inline-block;
  width: 350px;
  text-align: center;
  margin-bottom: 20px;
}
.hotel-block a {
  color: #0d1d52;
  text-decoration: none;
  padding: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: #0d1d52;
  border-radius: 4px;
}